:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #501c48;
  --hover-color: #713068;
  --bg-color-light: #ffffff;
  --bg-color-dark: #242424;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4e5e5;
}

.App {
  text-align: center;
  margin: 20px;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--hover-color);
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  color: var(--primary-color);
  margin-bottom: 0.5em;
  border: #000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #713068;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input, button {
  padding: 12px;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: inherit;
}

input:focus {
  border-color: var(--primary-color);
  outline: none;
}

button {
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--primary-color);
  transform: scale(1.05);
}

button:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  margin-top: 20px;
  padding: 20px;
  background-color: #2b2b2b;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #693c1c;
    background-color: var(--bg-color-light);
  }
  body {
    background-color: var(--bg-color-light);
  }
  form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
  }
  button {
    background-color: #f0f0f0;
    color: #000;
  }
  .card {
    background-color: #ffffff;
    border-color: #ddd;
  }
}

